.App {
  padding: 4rem 20rem;
  display: flex;
  flex-direction: column;
}

.App-logo {
  pointer-events: none;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* game ui */

.gameUI {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.categoryList {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.categoryList > * {
  flex: 1;
}

.category {
  padding: 1rem 2rem;
  font-size: 2.8rem;
  text-align: center;
}

.category__current {
  background-color: #B5B4F0;
  border-radius: 4rem;
}

/* buttons */

.button {
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  background-color: #0400C7;
  border-radius: 4rem;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

.button_wide {
  padding: 2rem 8rem;
  cursor: pointer;
  transition: all 0.5s;
}

.button_wide:hover {
  background-color: #6e6ce9;
}

.button_disabled{
  background-color: #B5B4F0;
  cursor: auto;
}

.button_disabled:hover{
  background-color: #B5B4F0;
}


@media(max-width: 960px) {
  .App {
    align-items: center;
  }

  .gameUI {
    flex-direction: column;
  }

  .categoryList {
    margin-bottom: 2rem;
  }
}

@media(max-width: 640px) {
  .App {
    padding: 2rem 5rem;
  }

  .App-logo {
    width: 16rem;
  }

  .gameUI {
    padding: 1.5rem 0;
  }

  .category {
    font-size: 2.4rem;
  }

  .button {
    padding: 1rem 3rem;
    font-size: 2.6rem;
  }

  .button_wide {
    width: 100%;
  }
}

/* question */

.question {
  width: 100%;
  padding: 2rem 4rem;
  background-color: #F9DABE;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.question__img-container {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 5rem;
  background-color: #E5E5E5;
}

.question__img {
  height: 100%;
  width: auto;
}

.question__title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
}

.question__info {
  width: 80%;
}

/* answer field */

.optionField {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.optionList {
  margin: 0;
  width: 60%;
  background-color: #FFEBD8;
  border-radius: 2rem;
  box-sizing: border-box;
  margin-right: 1rem;
  padding: 0;
}

.optionList > *:first-child {
  padding-top: 2rem;
  border-radius: 2rem 2rem 0 0;
}

.optionList > *:last-child {
  padding-bottom: 2rem;
  border-radius: 0 0 2rem 2rem;
}

.option {
  list-style: none;
  width: 100%;
  padding: 1rem 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  background-color: #F9DABE;
}

.option__title {
  font-size: 2rem;
  line-height: 3.3rem;
  margin: 0;
}

.option__checkbox {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border: 0.1rem #000000 solid;
  border-radius: 50%;
  background-color: #B5B4F0;
  margin-right: 2rem;
}

.option.correct .option__checkbox {
  background-color: #CBFBCD;
}

.option.incorrect .option__checkbox {
  background-color: #FF9B9B;
}

.option__info {
  text-align: center;
  width: 40%;
  font-size: 2.4rem;
  padding: 2rem;
  background-color: #FFEBD8;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option__info__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.option__info__img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 1.5rem;
}

.option__info__img {
  width: auto;
  height: 100%;
}

.option__info__song {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.option__info__singer {
  font-size: 1.8rem;
}

.option__info__description {
  font-size: 1.6rem;
  margin-bottom: 0;
}

/* modal */

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position:fixed;
  background: #ffffff;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  padding: 4rem;
}

.modal__result {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal__congrats {
  font-size: 2.4rem;
  margin-bottom: 5rem;
  text-align: center;
  width: 80%;
}

@media(max-width: 960px) {
  .modal {
    padding: 2rem;
  }

  .modal__result {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }

  .modal__congrats {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

/* audio */
.rhap_volume-controls  {
  flex: 0.35 0.5 auto !important;
}

.rhap_volume-indicator {
  box-shadow: none;
}

.rhap_stacked .rhap_controls-section {
  margin-top: -1rem !important;
}

.rhap_time {
  font-size: 1.2rem !important;
}

#rhap_current-time {
  margin-left: 6rem;
  margin-right: 4rem;
}

.rhap_time.rhap_total-time {
  margin-right: 11rem;
}

.rhap_progress-container {
  width: calc(100% - 38rem) !important;
}

.rhap_container {
  box-shadow: none;
  border-radius: 2rem;
}